body {
  font-family: 'Lato', sans-serif;
  padding: 1rem;
  display: flex;
  justify-content: center;
  /* background-color: #222; */
}

#cacheCanvas {
  display: none;
}

.column {
  padding: 0 3rem;
}

.sort-controls {
  display: flex;
  justify-content: space-between;
}

.sort {
  /* margin: 1rem 0; */
  padding: 0.5rem 2rem 1rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 290px;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid lightgray;
}

.threshold {
  margin-top: 1rem;
  padding: 0.5rem 2rem 1rem;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.ctrl-btn {
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
}

figcaption {
  font-family: inherit;
  padding: 0 3rem;
  text-align: right;
  font-size: 14px;
}

.topRule {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  z-index: -1;
  height: 4px;
  background-color: #e9ecef;
}
.botRule {
  position: absolute;
  left: 0;
  top: 500px;
  width: 100%;
  z-index: -1;
  height: 4px;
  background-color: #e9ecef;
}

.select-item {
  line-height: 0.1rem;
}