body {
  /* font-family: 'Lato', sans-serif; */
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.column {
  padding: 0 3rem;
}

.sort-controls {
  display: flex;
  justify-content: space-between;
}

.sort {
  /* margin: 1rem 0; */
  padding: 0.5rem 2rem 1rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 290px;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid lightgray;
}

.ctrl-btn {
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
}